nav {
  background: #6065ac;
}

nav a {
  color: #ebe5e2;
  font-size: 2.5rem !important;
}

.anime-card {
  padding: 10px;
}

.anime-img {
  border-radius: 0.5rem 0.5rem 0 0;
  overflow: hidden;
  max-height: 100%;
  width: 100%;
  object-fit: cover;
}

.container-fluid {
  background: var(--color6) !important;
  background: #8000FF;
}

#anime-content {
  margin-top: 5rem;
  padding: 5rem;
}

.row.anime-row {
  margin-right: -10px;
  margin-left: -10px;
}

.col-anime {
  padding-right: 10px;
  padding-left: 10px;
  flex: 0 0 25%;
  max-width: 25%;
}

.pagination {
  margin-top: 2rem;
}

.pagination .page-link {
  color: #6065ac;
  background-color: #ebe5e2;
  border-color: #ebe5e2;
}

.pagination .page-link:hover {
  color: #fff;
  background-color: #6065ac;
  border-color: #6065ac;
}

.pagination .page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  background-color: #fff;
  border-color: #dee2e6;
}
